<app-navbar></app-navbar>
<div class="container" *ngIf="load">
  <hr>
  <div class="row">
    <div class="col">
      <h2 class="text-left">Ver línea de producción</h2>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col"> 
      <h5 class="text-center">Filtrar</h5>
    </div> 
  </div> 

  <div class="row">
    <div class="col-6">
      <h6 class="text-left">Cliente</h6>
      <small class="text-danger">**Primero seleccione al cliente**</small>
    </div>
    <div class="col-6">
      <select id="inputState" class="form-control form-control-sm" *ngIf="true" [(ngModel)]="id_cliente" [ngModelOptions]="{standalone: true}" (change)="loadPlants()">
        <option *ngFor="let cliente of clientes" value="{{cliente._id}}">{{cliente.name}}</option>
      </select>
    </div>
  </div>

  <br>

  <div class="row">
    <div class="col-3">
      <h6 class="text-left">Ver líneas por planta</h6>
      <small class="text-danger">**Seleccione a la planta**</small> 
    </div>
    <div class="col-3">  
      <select id="inputState" class="form-control form-control-sm" [(ngModel)]="id_planta" [ngModelOptions]="{standalone: true}" [disabled]="sinPlantas" (change)="loadLineas()">
        <option *ngFor="let plt of planta" value="{{plt._id}}">{{plt.name}}</option>
      </select>
    </div>
    <div class="col-3">
      <h6 class="text-left">Búscar por nombre de línea</h6>
    </div>
    <div class="col-3">
        <input type="text" class="form-control form-control-sm" placeholder="Nombre de la planta" [(ngModel)]="busq" [ngModelOptions]="{standalone: true}" (keyup)="busqueda()">
    </div>
  </div>
  <div class="row">
    <div class="col">
      <h6 *ngIf="sinPlantas" class="text-center txt-danger">Sin líneas registradas en esta planta</h6>
    </div>
  </div>
  <hr>
  <hr>
  <div>
    <div class="row">
      <div class="col-12 text-right">
        <button class="btn btn-primary" type="button" (click)="goNewLine()">
          Nueva línea
        </button>
      </div>
    </div>
    <br>
    <div class="row text-center">
      <div class="col-12">
        <table class="table table-striped">
            <thead>
              <tr>
                <th scope="col">Nombre</th>
                <th scope="col">Nombre corto</th>
                <th scope="col">Descripción</th>
                <th scope="col">Detalle</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let lns of lines">
                <td scope="row">{{lns.name}}</td>
                <td>{{lns.shortname}}</td>
                <td>{{lns.desc}}</td>
                <td>
                  <button mat-mini-fab class="bg-primary" (click)="plantDet(lns._id)">
                      <mat-icon>pageview</mat-icon>
                  </button>
                </td>
              </tr>
            </tbody>
        </table>
        <br>
        <hr>
        <br>
      </div>
    </div>
  </div>
</div>
<!--<div class="container" *ngIf="!load">
  <div class="row">
    <p class="lead mx-auto">CARGANDO</p>
  </div>
  <div class="row">
    <div class="col">
      <mat-spinner class="mx-auto"></mat-spinner>
    </div>
  </div>
</div>-->
<app-footer></app-footer>