<app-navbar></app-navbar>
<div class="container">
  <hr>
  <div class="row">
    <div class="col-6">
      <h2 class="text-left">Usuarios registrados</h2>
    </div>
    <div class="col-6 text-right">
      <button class="btn btn-primary" type="button" (click)="goNewuser()">
        Nuevo usuario
      </button>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col">
      <h5 class="text-center">Filtrar</h5>
    </div>
  </div>  
  <div class="row">
    <div class="col-3">
      <h6 class="text-left">Búscar por nombre</h6>
    </div>
    <div class="col-3 text-right">
      <input type="text" class="form-control form-control-sm" placeholder="Nombre de la planta" [(ngModel)]="busq" [ngModelOptions]="{standalone: true}" (keyup)="busqueda()">
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col-12">
        <table class="table table-striped">
            <thead>
              <tr>
                <th scope="col">Nombre</th>
                <th scope="col">Usuario</th>
                <th scope="col">Email</th>
                <th scope="col">Rol</th>
                <th scope="col">Estatus</th>
                <th scope="col">Detalle</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let user of users">
                <td scope="row">{{user.info.name}}</td>
                <td>{{user.username}}</td>
                <td>{{user.info.email}}</td>
                <td>{{getRol(user.role)}}</td>
                <td>{{getStatus(user.active)}}</td>
                <td>
                    <button mat-mini-fab color="primary" (click)="usuarioDet(user._id)">
                        <mat-icon>pageview</mat-icon>
                    </button>
                </td>
              </tr>
            </tbody>
          </table>
    </div>
  </div>
  <hr><hr>
</div>
<app-footer></app-footer>