<app-navbar></app-navbar>
<div class="container">
<hr>
<hr>
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Ver usuario a detalle</h5>
                <h6 class="card-subtitle mb-2 text-muted">{{user.info.name}}</h6>
                <ul>
                    <li class="card-text"><b>Registrado por: </b> {{reg_bystr}}</li>
                    <li class="card-text"><b>Dia de registro: </b> {{reg_date}}</li>
                    <li class="card-text"><b>Rol: </b> <span>{{getRol(user.role)}}</span></li>
                    <li class="card-text"><b>Estatus:  </b> {{getStatus(user.active)}}</li>
                </ul>
            </div>
            <form class="container">
                <div class="form-group">
                    <label for="username">Nombre de usuario <span *ngIf="usEx" class="text-danger"><b>¡Este usuario ya existe!</b></span></label>
                    <input type="text" [(ngModel)]="nUser" class="form-control" id="username" placeholder="{{user.username}}" [ngModelOptions]="{standalone: true}" (focusout)="existeUsuario()">
                </div>
                <div class="form-group">
                    <label for="nombre">Nombre</label>
                    <input type="text" [(ngModel)]="nName" class="form-control" id="nombre" placeholder="{{user.info.name}}" [ngModelOptions]="{standalone: true}">
                </div>
                <div class="form-group">
                    <label for="email">Email</label>
                    <input type="email" [(ngModel)]="nEmail" class="form-control" id="email" placeholder="{{user.info.email}}" [ngModelOptions]="{standalone: true}">
                </div>
                <div class="pad1">
                    <button type="button" class="btn btn-info " (click)="regresar()">Regresar</button>
                    <button type="button" class="btn btn-warning bot1" (click)="actDes()">{{isActivatedStr(user.active)}}</button>                        
                    <button type="submit" class="btn btn-primary bot1" (click)="updClick()" [disabled]="enbuts()">Actualizar</button>                    
                </div>
            </form>
        </div>
    </div>
</div>
<hr>
<hr>
</div>
<app-footer></app-footer>