<mat-toolbar class="bg-secondary navbar">
  <div class="container">
      <div><a [routerLink]="['/inicio']" class="text-light"><span><img src="./assets/arquitecto.png" height="30px" width="30px"></span> Mantenimiento EMG - {{nombre}}</a></div>
      <div *ngIf="adm">
        <span style="margin-left:80px"></span>
        <span>
          <button mat-button class="text-light" (click)="routerTo('usuarios')">
            Usuarios
          </button>
        </span>
        <span>
          <mat-menu #equMenu="matMenu">
            <button mat-menu-item class="text-dark" (click)="routerTo('equipos/plantas')">Plantas</button>
            <button mat-menu-item class="text-dark" (click)="routerTo('equipos/lineas')">Líneas</button>
            <button mat-menu-item class="text-dark" (click)="routerTo('equipos/equipos')">Equipos</button>
          </mat-menu>
          <button mat-button [matMenuTriggerFor]="equMenu" class="text-light">
            Equipos
          </button>
        </span>
        <span>
          <button mat-button class="text-light" (click)="routerTo('servicios')">
            Servicios
          </button>
        </span>
        <span>
          <mat-menu #userInfo="matMenu">
            <button mat-menu-item class="text-dark" (click)="routerTo('micuenta')">Mi cuenta</button>
            <button mat-menu-item class="text-dark" (click)="routerTo('configuracion')">Configuración</button>
            <button mat-menu-item class="text-danger" (click)="closeSesion()">Salir</button>
          </mat-menu>
          <button mat-button [matMenuTriggerFor]="userInfo" class="text-light">
            Bienvenido {{role}}
          </button>
        </span>
      </div>
      <div *ngIf="tec">
        <span *ngIf="false">
          <button mat-button class="text-light" (click)="routerTo('usuarios')">
            Usuarios
          </button>
        </span>
        <span *ngIf="true">
            <mat-menu #equMenu="matMenu">
              <button mat-menu-item class="text-dark" (click)="routerTo('equipos/plantas')">Plantas</button>
              <button mat-menu-item class="text-dark" (click)="routerTo('equipos/lineas')">Líneas</button>
              <button mat-menu-item class="text-dark" (click)="routerTo('equipos/equipos')">Equipos</button>
            </mat-menu>
            <button mat-button [matMenuTriggerFor]="equMenu" class="text-light">
              Equipos
            </button>
        </span>
        <span>
          <button mat-button class="text-light" (click)="routerTo('misservicios-tec')">
            Mis servicios
          </button>
        </span>
        <span>
          <mat-menu #userInfo="matMenu">
            <button mat-menu-item class="text-dark" (click)="routerTo('micuenta')">Mi cuenta</button>
            <button mat-menu-item class="text-danger" (click)="closeSesion()">Salir</button>
          </mat-menu>
          <button mat-button [matMenuTriggerFor]="userInfo" class="text-light">
            Bienvenido {{role}}
          </button>
        </span>
      </div>
      <div *ngIf="cli">
        <span>
          <mat-menu #meqMenu="matMenu">
            <button mat-menu-item class="text-dark" (click)="routerTo('misplantas')">Plantas</button>
            <button mat-menu-item class="text-dark" (click)="routerTo('mislineas')">Líneas</button>
            <button mat-menu-item class="text-dark" (click)="routerTo('misequipos')">Equipos</button>
          </mat-menu>
          <button mat-button [matMenuTriggerFor]="meqMenu" class="text-light">
            Mis equipos
          </button>
        </span>
        <span>
          <button mat-button class="text-light" (click)="routerTo('misservicios')">
            Mis servicios
          </button>
        </span>
        <span>
          <button mat-button class="text-light" (click)="routerTo('misservicios/solicitar')">
            Solicitar servicio
          </button>
        </span>
        <span>
          <mat-menu #userInfo="matMenu">
            <button mat-menu-item class="text-dark" (click)="routerTo('micuenta')">Mi cuenta</button>
            <button mat-menu-item class="text-danger" (click)="closeSesion()">Salir</button>
          </mat-menu>
          <button mat-button [matMenuTriggerFor]="userInfo" class="text-light">
            Bienvenido {{role}}
          </button>
        </span>
      </div>
  </div>

</mat-toolbar>