<app-navbar></app-navbar>
<div class="container">
  <hr>
  <div class="row">
    <div class="col">
      <h2 class="text-left">Ver servicios registrados</h2>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col">
      <h5 class="text-center">Filtrar</h5>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <div class="row">
        <div class="col-6">
          <h6 class="text-left">Por técnico</h6>
        </div>
        <div class="col-6">
          <select id="inputState" class="form-control form-control-sm" *ngIf="true" [(ngModel)]="id_tec" [ngModelOptions]="{standalone: true}" (change)="findByTec()">
            <option value="todos">Ver todos</option>
            <option *ngFor="let tecnico of tecnicos" value="{{tecnico._id}}">{{tecnico.info.name}}</option>
          </select>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="row">
        <div class="col-6">
          <h6 class="text-left">Por equipo</h6>
        </div>
        <div class="col-6">
          <select id="inputState" class="form-control form-control-sm" *ngIf="true" [(ngModel)]="id_emg" [ngModelOptions]="{standalone: true}" (change)="findByEmg()">
            <option value="todos">Ver todos</option>
            <option *ngFor="let emg of emgs" value="{{emg._id}}">{{emg.info.name}}</option>
          </select>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="row">
        <div class="col-6">
          <h6 class="text-left">Búscar por id</h6>
        </div>
        <div class="col-6">
          <input type="text" class="form-control form-control-sm" placeholder="Id del servicio" [(ngModel)]="busqById" [ngModelOptions]="{standalone: true}" (keyup)="busquedaById()">
        </div>
      </div>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col"></div>
    <div class="col text-right">
      <button class="btn btn-primary" (click)="gotoNew()">Programar nuevo servicio</button>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col">
      <div class="row text-center">
        <div class="col-12">
          <table class="table table-striped">
              <thead>
                <tr>
                  <th scope="col">Id</th>
                  <th scope="col">Equipo</th>
                  <th scope="col">Técnico</th>
                  <th scope="col">Fecha programada</th>
                  <th scope="col">Estatus</th>
                  <th scope="col">Calificación</th>
                  <th scope="col">Detalle</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let servicio of servicios">
                  <td scope="row">{{getId(servicio._id)}}</td>
                  <td>{{getEmg(servicio.emg)}}</td>
                  <td>{{getTecnico(servicio.tecnico)}}</td>
                  <td>{{getDate(servicio.date)}}</td>
                  <td>{{getStatus(servicio.status)}}</td>
                  <td>{{getScore(servicio.score,servicio.status)}}</td>
                  <td>
                    <button mat-mini-fab color="primary" (click)="viewService(servicio._id)" data-toggle="tooltip" data-placement="left" title="Ver detalle">
                        <mat-icon>pageview</mat-icon>
                    </button>
                  </td>
                </tr>
              </tbody>
          </table>
          <br>
          <hr>
          <br>
        </div>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>