<app-navbar></app-navbar>
<div class="container">
  <hr>
  <div class="row">
    <div class="col">
      <h2 class="text-left">Ver linea de producción</h2>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col">
      <h4 class="text-left">Cliente</h4>
    </div>
    <div class="col">
      <select id="inputState" class="form-control" *ngIf="true" [(ngModel)]="id_cliente" [ngModelOptions]="{standalone: true}" (change)="loadPlants()">
        <option *ngFor="let cliente of clientes" value="{{cliente._id}}">{{cliente.info.name}}</option>
      </select>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col">
      <h4 class="text-left">Plantas</h4>
    </div>
        <div class="col-6">  
          <select id="inputState" class="form-control" [(ngModel)]="id_planta" [ngModelOptions]="{standalone: true}" [disabled]="sinPlantas" (change)="loadLineas()">
            <option *ngFor="let plt of planta" value="{{plt._id}}">{{plt.name}}</option>
          </select>
        </div>
  </div>
  <div class="row">
    <h6 *ngIf="sinPlantas" class="text-center txt-danger">Sin lineas registradas en esta planta</h6>
  </div>
  <hr>
  <div *ngIf="load">
    <div class="row">
      <div class="col-12 text-right">
        <button class="btn btn-primary" type="button" (click)="goNewLine()">
          Nueva linea
        </button>
      </div>
      <br>
    </div>
    <div class="row text-center">
      <div class="col-12">
          <table class="table table-striped" *ngIf="!vacio()">
              <thead>
                <tr>
                  <th scope="col">Número de linea</th>
                  <th scope="col">Descripción</th>
                  <th scope="col">Detalle</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let lns of planta_sel.lines">
                  <td scope="row">{{lns.number}}</td>
                  <td>{{lns.desc}}</td>
                  <td>
                    <button mat-mini-fab color="primary" (click)="plantDet(lns._id)">
                        <mat-icon>pageview</mat-icon>
                    </button>
                  </td>
                </tr>
              </tbody>
          </table>
          <h2 *ngIf="vacio()">El cliente no tiene lineas registradas en esta planta</h2>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>