<app-navbar></app-navbar>
<div class="container">
<hr>
<hr> 
  <div class="row">
      <div class="col-12">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Ver servicio</h5>
              <h6 class="card-subtitle mb-2 text-muted">Id del servicio {{getId(servicio._id)}}</h6>
              <div class="col">
                <hr>
                <div class="row">
                  <div class="col">
                    <h6 class="card-subtitle mb-2">Información de solicitud</h6>
                  </div>
                </div>
                <br>
                <div class="row">
                  <div class="col">
                    <div class="">
                      <h6><b>Solicitado por</b></h6>
                      <h6>{{requestby}}</h6>                        
                    </div>
                  </div>
                  <div class="col">
                    <div class="">
                      <h6><b>Empresa</b></h6>
                      <h6>{{empresa}}</h6>                        
                    </div>
                  </div>
                  <div class="col">
                    <div class="">
                      <h6><b>Fecha programada</b></h6>
                      <h6>{{getDate(servicio.date)}}</h6>                        
                    </div>
                  </div>
                </div>
                <br>
                <div class="row">
                  <div class="col">
                    <div class="">
                      <h6><b>Equipo</b></h6>
                      <h6>{{emg}}</h6>                        
                    </div>
                  </div>
                  <div class="col">
                    <div class="">
                      <h6><b>Nombre de técnico</b></h6>
                      <h6 *ngIf="stat0" class="text-danger">Falta asignar técnico</h6>
                      <h6 class="text-warning" *ngIf="msg"><b>Asignando...</b></h6>
                      <h6>{{tec}}</h6>                        
                    </div>
                  </div>
                  <div class="col">
                    <div class="">
                      <h6><b>Contrato</b></h6>
                      <h6>{{contrato}}</h6>                        
                    </div>
                  </div>
                </div>
                <br>
                <hr>
                <div class="row card" *ngIf="stat0">
                  <div class="col">
                    <div class="form-group">
                      <label for="tecnico"><span class="text-danger">*</span>Técnico a asignar</label>
                      <select class="form-control form-control-sm" id="tecnico" [(ngModel)]="tec_id" (change)="enBut()">
                        <option *ngFor="let tecnico of tecnicos" value="{{tecnico._id}}">{{tecnico.info.name}}</option>
                      </select>
                    </div>
                    <div class="form-group">
                      <label for="nfecnue"><span class="text-danger">*</span>Fecha y hora solicitadas <small class="text-muted">Puedes cambiarlo dependiendo de la disponibilidad del técnico.</small> </label>
                      <input class="form-control form-control-sm" type="datetime-local" id="nfecnue" [(ngModel)]="nfec" (change)="showf()">
                    </div>
                    <button class="btn btn-primary" [disabled]="btnen" (click)="asigTec()">Asignar y programar</button>
                    <small class="text-muted" *ngIf="!msg">Al asignar el técnico, se le enviara un correo notificandole que se le asigno un servicio a realizar.</small>
                  </div>
                  <br>
                </div>
                <hr>
                <br>
                <div class="row">
                  <div class="col">
                    <h6 class="card-subtitle mb-2">Información del servicio</h6>
                  </div>
                </div>
                <br>
                <div class="row">
                  <div class="col">
                    <div class="">
                      <h6><b>Tipo de servicio</b></h6>
                      <h6>{{servicio.type}}</h6>                        
                    </div>
                  </div>
                  <div class="col">
                    <div class="">
                      <h6><b>Estado del servicio</b></h6>
                      <h6>{{status}}</h6>                        
                    </div>
                  </div>
                </div>
                <br>
                <div class="row">
                  <div class="col">
                    <div class="">
                      <h6><b>Trabajo a realizar</b></h6>
                      <p>{{servicio.desc}}</p>                        
                    </div>
                  </div>
                </div>
                <br>
                <div class="row" *ngIf="proceso"><!--proceso-->
                  <div class="col">
                    <div class="">
                      <h6><b>Fecha de inicio</b></h6>
                      <h6>{{getDate(servicio.start)}}</h6>                        
                    </div>
                  </div>
                  <div class="col">
                    <div class="">
                      <h6><b>Fecha de finalización</b></h6>
                      <h6>{{getDate(servicio.finish)}}</h6>                        
                    </div>
                  </div>
                </div>
                <hr>
                <div class="row" *ngIf="proceso"><!--proceso-->
                  <div class="col">
                    <div class="">
                      <h6><b>Observaciones del servicio</b></h6>
                    </div>
                  </div>
                </div>
                <br>
                <div class="row" *ngIf="proceso">
                  <div class="col">
                    <h6><b>Tipo de sensor</b></h6>
                    <h6>{{servicio.service_details.tipo_sensor}}</h6> 
                  </div>
                  <div class="col">
                    <h6><b>Tipo de controlador</b></h6>
                    <h6>{{servicio.service_details.tipo_controlador}}</h6> 
                  </div>
                  <div class="col">
                    <h6><b>Tipo de programa</b></h6>
                    <h6>{{servicio.service_details.tipo_programa}}</h6> 
                  </div>
                </div>
                <br>
                <div class="row" *ngIf="proceso"><!--proceso-->
                  <div class="col">
                    <div class="">
                      <h6><b>Trabajo realizado</b></h6>
                      <p class="text-justify">{{servicio.observ.trabajo_realizado}}</p>                        
                    </div>
                  </div> 
                </div>
                <div class="row" *ngIf="proceso"><!--proceso-->                
                  <div class="col">
                    <div class="">
                      <h6><b>Comentarios</b></h6>
                      <p class="text-justify">{{servicio.observ.comentarios}}</p>                        
                    </div>
                  </div>
                </div>
                <div class="row" *ngIf="proceso"><!--proceso-->
                  <div class="col">
                    <div class="">
                      <h6><b>Recomendaciones</b></h6>
                      <p class="text-justify">{{servicio.observ.recomendaciones}}</p>                        
                    </div>
                  </div>
                </div>

                <hr>
                <div class="row">
                  <div class="col">
                    <div class="">
                      <h6><b>Precio de la provisión de servicio</b></h6>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col">
                    <div class="">
                      <h6><b>Horas del servicio</b></h6>
                      <h6>horas de servicio</h6> 
                    </div>
                  </div>
                  <div class="col">
                    <div class="">
                      <h6><b>Precio unitario</b></h6>
                      <h6>$84.58</h6> 
                    </div>
                  </div>
                  <div class="col">
                    <div class="">
                      <h6><b>Precio total USD</b></h6>
                      <h6>${{servicio.payment.amount}}</h6> 
                    </div>
                  </div>
                  <div class="col">
                    <div class="">
                      <h6><b>Precio total USD + IVA <small class="text-muted">(16%)</small></b></h6>
                      <h6>${{servicio.payment.total}}</h6> 
                    </div>
                  </div>
                </div>
                <hr>

                <div class="row" *ngIf="proceso">
                  <div class="col">
                    <div class="">
                      <h6><b>Firma del cliente</b></h6>
                      <img src="{{servicio.signature}}" class="w-100 img-fluid">                       
                    </div>
                  </div>
                  <div class="col">
                    <div class="row text-center">
                      <h6><b>Satisfacción del cliente</b></h6>                     
                    </div>
                    <div class="row text-center">
                      <div class="col" *ngIf="malac">
                        <img [src]="mala" class="img-fluid" style="width: 100px; height: 100px;">                       
                      </div>
                      <div class="col" *ngIf="regularc">
                        <img [src]="regular" class="img-fluid" style="width: 100px; height: 100px;">
                      </div>
                      <div class="col" *ngIf="buenac">
                        <img [src]="buena" class="img-fluid" style="width: 100px; height: 100px;">
                      </div>
                    </div>
                    <div class="col text-center">
                      <h4>{{scoretext}}</h4>
                    </div>
                    <div class="col text-center">
                      <small class="text-muted">El rango de evalución se basa en Mala, Buena y Excelente experiencia</small>
                    </div>
                  </div>
                </div>
                <hr>
                <br><br>
                <div class="row" style="padding-bottom: 0px">
                  <div class="col">
                    <button type="button" class="btn btn-info w-100" (click)="regresar()">Regresar</button>
                  </div>
                  <div class="col">
                    <button type="button" class="btn btn-danger w-100" (click)="getPdf()" [disabled]="!proceso">Descargar reporte(PDF)</button>
                  </div>
                  <div class="col">
                    <button type="button" class="btn btn-danger w-100" [disabled]="!proceso">Descargar remito(PDF)</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
      </div>
  </div>
<hr>
<hr>
</div>
<app-footer></app-footer>