<app-navbar></app-navbar>
<div class="container">
<hr>
<hr>

  <div class="row" *ngIf="!load">
      <div class="col">
        <div class="card w-100">
          <div class="card-body">
            <h5 class="card-title">Ver planta {{planta.name}} de {{empresa}}</h5>
            <hr>
            <div class="row">
              <div class="col">
                <h5 class="card-suvtitle">Datos básicos</h5>
              </div>
            </div>
            <br>
            <div class="row">
              <div class="col">
                <h6 class="card-subtitle"><b>Nombre:</b><br>{{planta.name}}</h6>
              </div>
              <div class="col">
                <h6 class="card-subtitle"><b>Nombre corto o código:</b><br>{{planta.code}}</h6>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col">
                <h5 class="card-suvtitle">Otros datos de la planta</h5>
              </div>
            </div>
            <br>
            <div class="row">
              <div class="col">
                <h6 class="card-subtitle"><b>Fecha y hora de registro:</b><br>{{reg_date}}</h6>
              </div>
              <div class="col">
                <h6 class="card-subtitle"><b>Registrado por:</b><br>{{reg_bystr}}</h6>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col">
                <h5 class="card-suvtitle">Lineas de la planta</h5>
              </div>
            </div>
            <div class="row">
              <div class="col">
                <table class="table table-striped">
                  <thead>
                    <tr>
                      <th scope="col">Nombre</th>
                      <th scope="col">Nombre corto</th>
                      <th class="text-center" scope="col">Descripción</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let lns of planta.lines">
                      <td scope="row">{{lns.name}}</td>
                      <td>{{lns.shortname}}</td>
                      <td class="text-center">{{lns.desc}}</td>
                    </tr>
                  </tbody>
              </table>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col">
                <h5 class="card-suvtitle">Datos del jefe o encargado de la planta</h5>
              </div>
            </div>
            <br>
            <div class="row">
              <div class="col">
                <h6 class="card-subtitle"><b>Nombre:</b><br>{{planta.boss.name}}</h6>
              </div>
              <div class="col">
                <h6 class="card-subtitle"><b>Teléfono:</b><br>{{planta.boss.phone}}</h6>
              </div>
              <div class="col">
                <h6 class="card-subtitle"><b>Email:</b><br>{{planta.boss.email}}</h6>
              </div>
            </div>
            <div class="row">
              <div class="col">
                <p class="text-muted">Para ver detalles de la líneas, consulte el apartado especial de líneas o da click <a [routerLink]="['/equipos/lineas']">aqui</a>.</p>
              </div>
            </div>
            <hr>
            <div class="row pad1">
              <div class="col">
                <button type="button" class="btn btn-info w-100" (click)="regresar()">Regresar</button>
              </div>
              <div class="col">
                <button type="button" class="btn btn-primary w-100" (click)="gotoActualizar()">Actualizar</button>
              </div>
              <div class="col"></div>
            </div>
          </div>
        </div>
      </div>
  </div>

  <div *ngIf="load">
    <div class="row">
      <div class="col">
        <p class="lead mx-auto">CARGANDO</p>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <mat-spinner class="mx-auto"></mat-spinner>
      </div>
    </div>
  </div>
<hr>
<hr>
</div>
<app-footer></app-footer>