<app-navbar></app-navbar>
<div class="container">
  <hr>
  <div class="row">
    <div class="col-12">
      <h1 class="text-left">Bienvenido al sistema de soporte para equipos EMG</h1>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col-sm-12 col-md-6 col-lg-8">
      <div class="card w-100">
        <img src="assets/uncoiler.jpg" alt="Desbobinadora" class="card-img-top">
        <div class="card-body">
          <h5 class="card-title">¿Qué es?</h5>
          <p class="card-text">
            El sistema de seguimiento para mantenimiento de equipos industriales, 
            es una plataforma donde se almacena información acerca de reparaciones y mantenimiento de los equipos EMG
            situados en plantas industriales de clientes de Tecnoap.
          </p>
          <p class="card-text">
            Entre sus funciones, se puede consultar información sobre las reparaciones y mantenimiento de un equipo EMG, 
            a tipo de bitacora, que almacena los servicios realizados sobre un equipo en especifico.
            <br>
            Asi como solicitar/programar un nuevo servicio para un equipo EMG que halla presentado algún desperfecto.
          </p>
        </div>
      </div>
    </div>
    <div class="col-sm-12 col-md-6 col-lg-4">
        <div class="card w-100 h-100">
          <div class="card-body">
            <h5 class="card-title">Accesos rápidos</h5>
            <ul class="card-text list-group" *ngIf="admin">
              <li class="list-group-item"><a [routerLink]="['/servicios']">Ver servicios</a></li>
              <li class="list-group-item"><a [routerLink]="['/servicios/nuevo']">Programar servicio</a></li>
              <li class="list-group-item"><a [routerLink]="['/equipos/equipos']">Ver equipos</a></li>
              <li class="list-group-item"><a [routerLink]="['/equipos/plantas']">Ver plantas</a></li>
              <li class="list-group-item"><a [routerLink]="['/equipos/lineas']">Ver líneas</a></li>
              <li class="list-group-item"><a [routerLink]="['/micuenta']">Mi cuenta</a></li>
              <li class="list-group-item"><a [routerLink]="['/scanner']">Escanear Emg</a></li>
            </ul>
            <ul class="card-text list-group" *ngIf="tecni">
              <li class="list-group-item"><a [routerLink]="['/misservicios-tec']">Ver mis servicios</a></li>
              <li class="list-group-item"><a [routerLink]="['/misservicios-tec/nuevo']">Programar servicio</a></li>
              <li class="list-group-item"><a [routerLink]="['/micuenta']">Mi cuenta</a></li>
              <li class="list-group-item"><a [routerLink]="['/scanner']">Escanear Emg</a></li>
            </ul>
            <ul class="card-text list-group" *ngIf="clien">
              <li class="list-group-item"><a [routerLink]="['/misservicios']">Ver mis servicios</a></li>
              <li class="list-group-item"><a [routerLink]="['/misservicios/solicitar']">Solicitar servicio</a></li>
              <li class="list-group-item"><a [routerLink]="['/misequipos']">Ver mis equipos</a></li>
              <li class="list-group-item"><a [routerLink]="['/misplantas']">Ver mis plantas</a></li>
              <li class="list-group-item"><a [routerLink]="['/mislineas']">Ver mis líneas</a></li>
              <li class="list-group-item"><a [routerLink]="['/micuenta']">Mi cuenta</a></li>
              <li class="list-group-item"><a [routerLink]="['/scanner']">Escanear Emg</a></li>
            </ul>
          </div>
        </div>
    </div>
  </div>
  <hr><hr>
</div>
<app-footer></app-footer>