<app-navbar></app-navbar>
<div class="container">
  <hr>
  <div class="row">
    <div class="col-12">
      <h1 class="text-left">Bienvenido al sistema de soporte para equipos EMG</h1>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col-sm-12 col-md-6 col-lg-8">
      <div class="card w-100">
        <img class="card-img-top" src="./assets/mantenimiento.png" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">¿Qué es?</h5>
          <p class="card-text">
            El sistema de seguimiento para mantenimiento de equipos industriales, 
            es una plataforma donde se almacena información acerca de reparaciones y mantenimiento de los equipos EMG
            situados en plantas industriales de clientes de Tecnoap.
          </p>
          <p class="card-text">
            Entre sus funciones, se puede consultar información sobre las reparaciones y mantenimiento de un equipo EMG, 
            a tipo de bitacora, que almacena los servicios realizados sobre un equipo en especifico.
            <br>
            Asi como solicitar/programar un nuevo servicio para un equipo EMG que halla presentado algún desperfecto.
          </p>
        </div>
      </div>
    </div>
    <div class="col-sm-12 col-md-6 col-lg-4">
        <div class="card w-100 h-100">
          <div class="card-body">
            <h5 class="card-title">Accesos rápidos</h5>
            <ul class="card-text list-group">
              <li class="list-group-item"><a href="">Ver servicios</a></li>
              <li class="list-group-item"><a href="">Programar/Solicitar servicio</a></li>
              <li class="list-group-item"><a href="">Ver equipos</a></li>
              <li class="list-group-item"><a href="">Ver plantas</a></li>
              <li class="list-group-item"><a href="">Ver lineas</a></li>
              <li class="list-group-item"><a href="">Mi cuenta</a></li>
            </ul>
          </div>
        </div>
    </div>
  </div>
  <hr><hr>
</div>
<app-footer></app-footer>